<!DOCTYPE html>
<html>
<head>
  <title>Practico1</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<h1>Practico Nº1</h1>
</body>
</html>
